/* common */
body {
  margin: 0;
}
h1,h2,h3,p {
  margin: 0;
  /* font-weight: normal; */
}
ul {
  list-style: none;
  padding: 0;
}
img {
  width: 100%;
}
dl,dt,dd {
  margin: 0;
  padding: 0;
}


/* small screen */
header h1 {
  text-align: center;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin-top: 20px;
}
header ul {
  display: flex;
  font-size:14px;
  gap: 18px;
}
header nav {
  margin-left: 7%;
}
header a {
  text-decoration: none;
  transition: opacity .3s;
}
header a:hover {
  opacity: .5;
}
.float {
  margin: 16px auto 0;
  width: 300px;
}
main .mainvisual{
  width: 100%;
  height: 420px;
  /* max-width: 1920px; */
  object-fit: cover;
  display: inline-block; 
  margin-top: 16px;
}
.about h1 {
  text-align: center;
  margin: 80px auto 70px;
}
main p {
  font-size: 14px;
}
.container {
  margin: 0 14px 0;
}
.about p+p {
  margin-top: 24px
}
.works h1 {
  text-align: center;
  margin: 140px auto 80px;
}
.works li {
  margin-bottom: 24px;
}
.news h1 {
  text-align: center;
  margin: 90px auto 50px;
}

.news dl {
  margin: 0 auto 16px;
  /* border-top: 1px solid black; */
}
.news dt {
  padding-top: 16px;
  margin: 0 10px 0;
}
.news dd {
  /* border-bottom: 1px solid black; */
  padding-bottom: 16px;
  margin: 0 10px 0;
}
.ab {
  border-bottom: 1px solid gainsboro;
}
.ab:first-child {
  border-top: 1px solid gainsboro;
}
.contact h1 {
  text-align: center;
  margin: 150px auto 60px;
}
.contact dl {
  margin: 0 10px 0; 
}
.contact dt {
  margin-top: 16px;
}
.contact input {
  width: 100%;
  line-height: 32px;
}
.contact textarea{
  width: 100%;
  height: 150px;
}
.contact .button {
  text-align: center;
}
.contact .button input {
  width: 200px;
  padding: 10px 0;
  background-color: black;
  color: white;
  border: 1px solid black;
  margin: 30px auto 80px;
}
.contact .button input:hover {
  background-color: #fff;
  color: black;
}
footer {
  background-color: black;
  color: white;
  height: 40px;
  font-size: 12px;
  text-align: center;
}
small {
 line-height: 50px;
}









/* midium screen */
@media (min-width:600px) {
  header {
    display: flex;
    padding: 80px 0 80px;
    margin: 0 20px 0;
    justify-content: space-between;
  }
  header h1 {
    flex: 2
  }
  header nav {
    line-height: 40px;
    flex: 5;
    margin-left: 20%;
  }
  header li img {
    margin-top: 10px;
  }
  header ul {
    gap: 25px;
  }
  .mainvisual img {
    height: 400px;
    object-fit: none;
  }
  .works ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .works li {
    width: 31%;
    margin-bottom: 24px;
  }
  .news dl {
    display: flex;
    flex-wrap: wrap;
  }
  .news dt {
    width: 20%;
    text-align: center;
    padding: 10px;
  }
  .news dd {
    width: 80%;
    padding: 10px;
  }
  .ab {
    display: flex;
    width: 800px;
  }
  .cd {
    display: flex;
    margin: 12px auto 12px;
  }
  .cd dt {
    flex: 1;
    margin-top: 0;
  }
  .cd dd {
    flex: 5;
  }
}





/* large screen */
@media (min-width:800px) {
  header {
    max-width: 840px;
    margin: 0 auto;
  }
  main section{
    max-width: 840px;
    margin: 0 auto;
  }
}